@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f4dfb6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4dfb6;
    opacity: 0.9;
    font-family: 'Open Sans', sans-serif;
}

.container img {
    height: 10vh;
}

p {
    margin-right: auto;
    margin-bottom: auto;
    font-size: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    margin-top: 3vh;
    padding: 1vw;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 20px;
    border-style: solid;
}

.contact form button {
    height: 6vh;
    width: 7vw;
    margin-top: 2vh;
    margin-right: 20px;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 47vh;
    width: 25vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
    padding: 1vw;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 20px;
    border-style: solid;
}

.address form button {
    height: 6vh;
    width: 7vw;
    margin-top: 2vh;
    margin-right: 20px;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

.error-message {
    margin-left: auto;
    color: #e34234;
    font-size: 15px;
}