@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4dfb6;
    opacity: 0.9;
    font-family: 'Open Sans', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
}

img {
    height: 25vh;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 12.5px;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

::placeholder{
    color: #2c272b;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

a {
    margin-top: 20px;
    margin-bottom: 15px;
    color: #2c272b;
    text-decoration: none;
}

a:hover {
    color: #0978bf;
}

button {
    height: 6vh;
    width: 7vw;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

button:active {
    transform: translateY(5px);
}

button:hover {
    cursor: pointer;
}

.error {
    background-color: #e34234;
    border-color: #e34234;
    color: #ffff00;
    font-weight: bold;
}

.error-message {
    margin-top: 5px;
    color: #e34234;
    font-size: 15px;
}

textarea {
    height: 20vh;
    width: 100%;
    padding: 12.5px;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

.success-message {
    margin-top: 5px;
    color: #28a745;
    font-size: 15px;
}




