@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #2c272b;
}

.home-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100vw;
    background-color: #f4dfb6;
    opacity: 0.9;
    font-family: 'Open Sans', sans-serif;
}

.nav-home {
    color: #2c272b;
    font-size: 1vw;
    text-decoration: none;
}

.nav-home:hover {
    color: #0978bf;
}

.nav-links {
    position: relative;
    color: #231f32;
    font-size: 1.25vw;
    text-decoration: none;
}

.nav-links::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #0978bf;
    content: "";
    visibility: hidden;
    transition: visibility 0.01s ease-in-out;
}

.nav-links:hover {
    color: #0978bf;
}

.nav-links:hover:after {
    visibility: visible;
}

.click-me {
    height: 5vh;
    width: 7vw;
    border-color: #0978bf;
    border-style: solid;
    border-radius: 5px;
    outline: none;
    color: #000000;
    cursor: pointer;
    font-size: 1vw;
    text-align: center;
}

.click-me:active {
    transform: translateY(5px);
}

.slider {
    width: 100vw;
}

.slider img {
    height: auto;
    width: 100vw;
}

.slider-navigation {
    position: relative;
    bottom: 30px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateX(-50%);
}

.slider-dots {
    display: flex;
    align-items: center;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #999999ff;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #ffff00;
}

.about-us {
    position: relative;
    bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    background-image: url("../images/hotel-service.jpg");
    background-position: center center;
}

.about-us h1 {
    height: 6vh;
    width: 25vw;
    margin-bottom: 7.5vh;
    padding: 10px 10px 10px 10px;
    background-color: #f4dfb6;
    border-color: #2c272b;
    border-radius: 10px;
    border-style: solid;
    color: #0978bf;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.about-us span {
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 0.5vw;
    background-color: #f4dfb6;
    border-color: #2c272b;
    border-style: solid;
    border-radius: 10px;
    color: #0978bf;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

.facilites {
    position: relative;
    bottom: 4.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    background-color: #f4dfb6;
}

.item {
    height: 10vh;
}

.footer-style {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 1vw;
    height: 15vh;
    width: 100vw;
    background-color: #2c272b;
    color: #0978bf;
    font-family: 'Poppins', sans-serif;
}

.footer-style img {
    margin-top: 1vh;
    margin-left: 5vw;
    transform: scale(1.1);
}

.footer-item {
    height: 5vh;
    margin-bottom: 5vh;
}

p {
    margin-top: 4vh;
    margin-right: 10vw;
}

.click-me-dropdown {
    height: 5vh;
    width: 7.5vw;
    border-color: #0978bf;
    border-style: solid;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

.click-me-dropdown option {
    color: #2c272b;
    font-style: italic;
    font-weight: bold;
}