@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
}

.home-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #00bfff;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.85;
    height: 10vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: #2c272b;
}

a:hover {
    color: #ffe140;
}

.home-nav-container button {
    background-color: #2e8b57;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    height: 7vh;
    width: 7.5vw;
}

.home-nav-container button a {
    color: #eff0eb;
    cursor: pointer;
}

.home-nav-container button a:hover {
    color: #ffe140;
}

.main-content {

}


