@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f4dfb6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4dfb6;;
    opacity: 0.9;
    font-family: 'Open Sans', sans-serif;
}

.container a img {
    height: 12vh;
    margin-top: 2vh;
}

.hotel {
    display: flex;
    flex-direction: column;
    height: 96vh;
    width: 60vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
    padding: 1vw;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 20px;
    border-style: solid;
}

.hotel form {
    display: none;
}

.hotel img {
    width: 100%;
    border-radius: 20px;
}

.fav {
    margin-right: auto;
    margin-bottom: 2vh;
    background-color: #FFFFFF;
    border: none;
    color: red;
    font-size: 40px;
    text-decoration: none;
}

.fav:active {
    transform: translateY(5px);
}

.fav:hover {
    cursor: pointer;
}

.hotel span {
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.book {
    height: 6vh;
    width: 7vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

.book:active {
    transform: translateY(5px);
}

.book:hover {
    cursor: pointer;
}


.view {
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 60vw;
    margin-top: 4vh;
    margin-bottom: 1vh;
    padding: 1vw;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 20px;
    border-style: solid;
}

.view img {
    width: 100%;
    border-radius: 20px;
}

.view span {
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.view a {
    margin-left: auto;
    margin-right: auto;
}

.view a button {
    height: 6vh;
    width: 7vw;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

.view a button:active {
    transform: translateY(5px);
}




