@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f4dfb6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #f4dfb6;
    opacity: 0.9;
    font-family: 'Open Sans', sans-serif;
}

.container img {
    height: 12.5vh;
    margin-top: 2vh;
}

.profile {
    height: 12.5vh;
    width: 20vw;
    margin-top: 3vh;
    padding: 1vw;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 20px;
    border-style: solid;
}

p {
    position: relative;
    top: -25px;
    font-size: 20px;
}

p a {
    position: relative;
    color: #231f32;
    text-decoration: none;
}

p a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #0978bf;
    content: "";
    visibility: hidden;
    transition: visibility 0.01s ease-in-out;
}

p a:hover {
    color: #0978bf;
}

p a:hover:after {
    visibility: visible;
}

.btn {
    position: relative;
    top: -40px;
    height: 6vh;
    width: 7vw;
    margin-top: 5vh;
    margin-right: 20px;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

.btn:active {
    transform: translateY(5px);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    margin-top: 3vh;
    padding: 1vw;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 20px;
    border-style: solid;
}

.contact-type {
    width: 88.5%;
    margin-bottom: 10px;
    padding: 12.5px;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
    color: #2c272b;
    font-style: italic;
    font-weight: bold;
}

.contact-type option {
    color: #2c272b;
    font-style: italic;
    font-weight: bold;
}

.contact input {
    width: 80%;
    margin-top: 1.5vh;
    margin-bottom: 20px;
    padding: 12.5px;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

.contact button {
    height: 6vh;
    width: 7vw;
    margin-top: 2vh;
    margin-right: 20px;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

.contact button:active {
    transform: translateY(5px);
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 47vh;
    width: 30vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
    padding: 1vw;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 20px;
    border-style: solid;
}

.address input {
    width: 80%;
    margin-top: 1.5vh;
    margin-left: auto;
    margin-bottom: 5px;
    padding: 12.5px;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

.address-type {
    width: 85%;
    margin-top: 1.5vh;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 12.5px;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
    color: #2c272b;
    font-style: italic;
    font-weight: bold;
}

.address-type option {
    color: #2c272b;
    font-style: italic;
    font-weight: bold;
}

.address button {
    height: 6vh;
    width: 7vw;
    margin-top: 2.5vh;
    margin-right: 20px;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

.address button:active {
    transform: translateY(5px);
}

::placeholder {
    color: #2c272b;
    font-style: italic;
    font-weight: bold;
}

.success-message {
    margin-left: auto;
    color: #28a745;
    font-size: 15px;
    text-align: center;
}

.error {
    background-color: #e34234;
    border-color: #e34234;
    color: #ffff00;
    font-weight: bold;
}

.error-message {
    margin-left: auto;
    color: #e34234;
    font-size: 15px;
}