@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f4dfb6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4dfb6;
    opacity: 0.9;
    font-family: 'Open Sans', sans-serif;
}

.container a img {
    height: 12vh;
    margin-top: 2vh;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 106vh;
    width: 60vw;
    margin-top: 4vh;
    margin-bottom: 1vh;
    padding: 1vw;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 20px;
    border-style: solid;
}


.details h1 {
    margin-bottom: 3vh;
}

.details img {
    width: 100%;
    margin-bottom: 2.5vh;
    border-radius: 20px;
}

.details p {
    font-size: 20px;
}

.details form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
}

.details form select {
    width: 55%;
    margin-top: 1vh;
    margin-bottom: 10px;
    padding: 12.5px;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
    color: #2c272b;
    font-style: italic;
    font-weight: bold;
}

.details form select option {
    color: #2c272b;
    font-style: italic;
    font-weight: bold;
}

.details button {
    height: 6vh;
    width: 7vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 15px;
    border-style: solid;
    outline: none;
}

.details button:active {
    transform: translateY(5px);
}

.reservation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 88vh;
    width: 60vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
    padding: 1vw;
    background-color: #FFFFFF;
    border-color: #0978bf;
    border-radius: 20px;
    border-style: solid;
}

.reservation img {
    width: 100%;
    margin-bottom: 2.5vh;
    border-radius: 20px;
}

.reservation p {
    font-size: 20px;
}

